
{% if settings.notify_me_form %}


  <div class="notify_form notify-form-{{ product.id }}" id="notify-form-{{ product.id }}" {% if product.available %}style="display:none"{% endif %}>
    <p class="message"></p>
    
     
    {% comment %}code de botton emergent app{% endcomment %}

      <div class="bis-reset bis-edge-bottom bis-edge-left " style="left: 150px;" id="keyboard-nav-20">
        <img class="bis-image BIS_trigger" alt="Out of Stock Product Register to notify when the product returns" src="https://images.backinstock.org/public/production/button/image/3110/Sold-Out-es.png" data-variant-id="31402064117847" style="display: block; width:280px">
      </div>
              


  </div>


{% endif %}
